TestData2.csv 

# FaultyDataTest2.csv  
# FaultyDataTest.csv

totalResaleTotals.csv
itemizedResaleTotals.csv

F01_total_resale.csv
F02_total_resale.csv
F03_total_resale.csv
F04_total_resale.csv
F05_total_resale.csv
F06_total_resale.csv
F07_total_resale.csv

# ErrLogs.txt